<div class="jumbotron">
	<h1>Welcome to my a(hhhh)pp!</h1>
	<p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  		<h2> Made by Inno</h2> 
  	</p>    

</div>